html {
    background-size: 30%;
}

.no-underline {
    text-decoration: none;
}

a.btn {
    text-decoration: none;
}

.no-hover:hover {
    cursor: default;
}

.icon {
    font-size: inherit;
    vertical-align: middle;
}

.text-attention {
    color: #fd7e14;
}

.table tbody tr td, .table thead  tr th {
    align-content: center;
}

.table thead tr th {
    background-color: #0176de !important;
    color: #fff;
}

td .btn {
    margin-top: 2px;
    margin-bottom: 2px;
}

.no-btn button {
    display: none;
}

.btn-xs {
    --bs-btn-padding-y: .12rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.min-60-vh {
    min-height: 60vh;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.min-width-100 {
    min-width: 100px;
}

.small-text {
    font-size: 0.8rem;
}

.nav-profile-photo {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 2rem;
}

.profile-photo {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 5rem;
}

.bordered {
    border: 1px solid rgba(0, 0, 0, 0.125); /* Subtle border similar to Bootstrap 5 */
    border-radius: 0.375rem; /* Adds rounded corners */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Light shadow effect */
}

form legend {
   font-weight: 700; 
}

.form-label {
    font-weight: 700; 
}

.form-label.required:after, form legend.required:after {
    content: " *";
    color:#bd2837;
    font-weight: 700;
}

.red-tag {
    background-color: #dc3545;
}

.red-tag:hover {
    background-color: #bd2837;
}

.frame-circle {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.frame-cover {
    object-fit: cover;
    aspect-ratio: 16 / 6;
}

.frame-sm {
    width: 2rem;
    height: 2rem;
}

.frame-md {
    width: 7rem;
    height: 7rem;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}


// ING
$ing-black: #000000;
$ing-black-alt: #363534;
$ing-yellow: #FED802;
$ing-yellow-alt: #E6C400;
$ing-grey: #4a4a4a;


.ing-tag {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $ing-yellow;
    background-color: $ing-black;
}

.btn-ing {
    color: White;
    background-color: $ing-black;
    border-color: $ing-black;
}

.btn-ing:hover {
    color: $ing-black;
    background-color: $ing-yellow;
    border-color: $ing-yellow-alt;
}

.btn-ing2 {
    color: $ing-black;
    background-color: $ing-yellow;
    border-color: $ing-yellow-alt;
}

.btn-ing2:hover {
    color: White;
    background-color: $ing-black;
    border-color: $ing-black;
}

.ing-tag:hover {
    color: $ing-yellow;
    background-color: $ing-black;
}

.alert-danger {
    background-color: rgba(242,79,79,.1);
}

// Ajustes a Kit digital
.uc-navbar-dropdown_menu .dropdown_item--heading {
    padding-top: 2px;
    padding-bottom: 2px;
}

// Ajustes a Bootstrap
.form-check-input {
    border: 1px solid $ing-grey;
}